<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coldwire</title>

  <link rel="stylesheet" href="https://static.coldwire.org/css/main.css">
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <img class="logo" src="/static/img/logo.svg" />
  {{embed}}
</body>

<style>
  .logo {
		position: absolute;
		top: 24px;
		left: 32px;
		width: 30px;
	}
</style>

</html>