body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

  overflow-x: hidden;
}

.btn {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* transparent buttons */
.border {
  border: solid 1px var(--complementary-white);
}

.border:hover {
  background-color: var(--complementary-white);
  color: inherit
}

/* white buttons */
.white {
  background-color: white;
  color: inherit;
}

.white:hover {
  opacity: 0.8;
}

/* green buttons */
.green {
  background-color: var(--primary-green);
}

.green:hover {
  opacity: 0.8;
}